<template bindable="selected">
    <div class="dswap-nav">
        <div class="logo">
            <img
                src="../../images/dswap_standalone.png"
                class="logo-image"
                alt="brand_img"
            />
        </div>
        <div class="dswap-nav-links">
            <a class="each-link" route-href="send"
                ><div class="small-wrap">
                    <span>Send</span
                    >
                    <i class="fa fa-paper-plane img-send"></i>
                    </div
            ></a>
            <a class="each-link" route-href="receive"
                ><div class="small-wrap">
                    <span>Receive</span
                    >
                    <i class="fa fa-qrcode img-receive"></i>
                    </div
            ></a>
        </div>
        <div class="dswap-nav-options ml-auto">
            <ul style="margin: 0;">
                <li class="nav-item active" if.bind="!loggedIn">
                    <a class="btn nav-link" click.delegate="signin()"
                        >${'Sign In' & t}</a
                    >
                </li>
                <li else class="nav-item dropdown active">
                    <a
                        class="nav-link dropdown-toggle nav-username"
                        href="javascript:void(0);"
                        id="userDropdown"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        ${state.account.name}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userDropdown">
                        <a
                            class="dropdown-item"
                            href="javascript:void(0);"
                            click.delegate="logout()"
                            >${'Logout' & t}</a
                        >
                    </div>
                </li>
                <!-- <li>
                    <a
                        class="add-wallet-btn each-link"
                        route-href="route:marketMaker"
                    >
                        Market Maker
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</template>
