@import "../routes//market-maker/dashboard/market-maker-dashboard.module.css";
html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #387973;
}
.dswap-wrapper {
    /* margin-top: 39px; */
    /* margin-bottom: 40px; */
    color: white;
}
.color-white {
    color: #fff;
}
.dswap-nav {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;

    min-height: 60px;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.308);
    z-index: 980;
    padding: 10px 20px;
    margin: 0;
    margin-bottom: 15px;
    border: none;
    z-index: 9999;
}

.logo {
    padding: 5px;
}
.logo-image {
    width: 35px;
}
.dswap-nav-links {
    display: flex;
    margin-left: 20px;
}
.each-link {
    align-self: center !important;
    font-size: 18px;
    margin-left: 10px;
    text-transform: uppercase;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    /* opacity: 0.5; */
}
.each-link span {
    opacity: 1;
}
.each-link:hover {
    font-weight: 500;
    cursor: pointer;
}
.img-send,
.img-receive {
    /* opacity: 0.5; */
    color: #05413c !important;
    align-self: center !important;
    font-size: 22px !important;
    margin-left: 5px;
}
.each-link:hover .img-send {
    padding-bottom: 5px;
    /* opacity: 0.9; */
}
.each-link:hover .img-receive {
    padding-top: 5px;
    /* opacity: 0.9; */
}
.small-wrap {
    display: flex;
}
.small-wrap span,
.small-wrap span {
    align-self: center;
    color: #05413c !important;
    font-weight: bold;
}
.dswap-nav-options ul {
    list-style-type: none;
}
.dswap-nav-options ul li {
    display: inline-block;
}
    .dswap-nav-options ul li a,
    .chainselect,
    .chainselect option {
        background-color: transparent;
        border: 1px solid #387973;
        border-radius: 8px;
        padding: 10px 15px;
        color: #22a275;
    }
.dswap-nav-options ul li a:hover {
    background-color: #387973;
    color: #fff;
    opacity: 0.8;
    border-radius: 8px;
}
.dswap-nav-options ul li .add-padding {
    padding: 5px;
}
.dswap-nav-options ul li .add-padding .remove-border-margin {
    margin: 0 !important;
    border: none !important;
}
.swap-screen-lg {
    background-color: #fff;
    padding: 10px 0;
    border-radius: 2px;
    height: 100%;
    position: -webkit-sticky;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15),
        0 2px 10px 2px rgba(0, 0, 0, 0.2);
}
.support-bubble {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #05413c;
    color: #fff;
    border-radius: 25px;
    position: fixed;
    padding: 13px 22px;
    align-self: center;
}
.support-bubble-text {
    color: #fff!important;
    font-weight: bold;
    
}
.support-bubble i {
    margin-left: 5px;
}
.support-bubble-github {
    position: absolute;
    bottom: 20px;
    left: 170px;
    background-color: rgb(300, 300, 300);
    color: #fff;
    border-radius: 25px;
    position: fixed;
    padding: 13px 22px;
    align-self: center;
}

.item-header {
    padding: 5px 10px;
}
.item-wrapper {
    display: flex;
    flex-direction: column;
}
.item-icon {
    color: #05413c;
}
.item {
    padding: 24px 10px;
    text-transform: uppercase;
}
a.item:hover {
    color: #05413c;
    font-size: 16px;
    font-weight: bolder;
    /* padding-left: 5px; */
}
a.item:focus {
    color: #fff;
    font-size: 16px;
    font-weight: bolder;
    /* padding-left: 5px; */
}
a.item:hover .item-icon {
    background-color: #05413c;
    color: #fff;
}
.activateIt {
    background-color: #05413c;
    color: #fff;
}
.item-title {
    align-self: center;
}
.item-title-text {
    margin-bottom: 0;
    color: #05413c;
    font-size: 18px !important;
}
.item-title {
    font-size: 18px;
    color: #fff;
}

.item-icon {
    height: 40px;
    width: 4em;
    margin-right: 16px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-size: 200% 100%;
    opacity: 1;
    padding: 8px 14px 8px 24px;
    transition: background-position 0.1s linear 0s;
    background-position: 0% 0%;
}
.nav-username {
    color: #05413c;
    font-weight: bold;
    font-size: 18px;
}

/* ==================Dashboard====================== */
.dashboard-wrapper {
    padding: 40px 10px 10px 0;
    /* overflow-x: hidden; */
    height: max-content;
}
.action-title {
    margin: 0 15px 20px;
    color: #05413c;
}
.action-card {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(122, 197, 126);
    margin: 0 auto;
    height: auto;
    padding-bottom: 0px;
    min-width: 16rem;
    width: 90%;
    order: 1;
    border-width: 1px;
    border-radius: 8px;
    /* box-shadow: 0 10px 55px 5px rgba(137, 172, 255, 0.274); */
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.308);
}
.dropdown-menu.show {
    width: 100%;
    max-height: 450px !important;
}
.sell.action-card {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(197, 122, 122);
    margin: 0 auto;
    height: auto;
    padding-bottom: 0px;
    min-width: 16rem;
    width: 90%;
    order: 1;
    border-width: 1px;
    border-radius: 8px;
}
.transparent-bgn {
    background-color: transparent !important;
    color: #22a275 !important;
    border: none;
}
.token-info {
    display: flex;
    justify-content: space-around;
}
.token-info-data {
    display: flex;
}
.token-icon {
    padding: 10px;
    object-fit: contain;
}
.token-name {
    align-self: center;
}
.token-name h4 {
    margin: 0;
    color: #22a275;
}

.chart {
    padding-top: 10px;
}

.chart-icon {
    color: #22a275;
    font-size: 24px;
}
.blur {
    /* display: none; */
    background-image: linear-gradient(
        to top,
        rgb(13, 24, 45),
        rgba(102, 187, 106, 0.1)
    );
    height: 30px;
    position: relative;
    top: -3px;
    margin-left: 3px;
    margin-right: 3px;
}

.chart-data {
    display: flex;
    justify-content: space-around;
}
.change-data,
.price-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.price-title,
.change-title {
    margin-bottom: 0;
    font-size: 11px;
    color: #22a275;
}

.change-data span,
.price-data span {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.trade-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.trade-arrow .chart-icon {
    font-size: 30px;
}

.action-input {
    margin: 15px auto 5px;
    width: 90%;
    display: flex;
}
.action-input-box {
    border: 1px solid #22a275;
    border-radius: 0;
    border-right: none;
}
.action-input-box:hover {
    border: none;
    outline: none;
    box-shadow: none;
    border: 2px solid #22a275;
}
.action-input-box:focus {
    border: 2px solid #22a275;
    outline: none;
    box-shadow: none;
}
.token-sym-text {
    border-radius: 0;
    background-color: #387973;
    color: #fff;
    font-weight: bold;
    border-left: none;
    border: 1px solid #22a275;
}
.balance-title {
    margin-bottom: 0;
    font-size: 11px;
    color: #22a275;
    margin-left: 17px;
}
.action-quantity-slider {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    background: #22a275;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #05413c;
    cursor: pointer;
    border-radius: 50%;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #05413c;
    cursor: pointer;
    border-radius: 50%;
}
.quantity-unit-options {
    display: flex;
    justify-content: space-between;
}
.quantity-unit {
    font-size: 14px;
    color: #22a275;
    padding: 5px 15px;
    transition: all 250ms ease 0s;
    text-transform: capitalize;
}
.quantity-unit:hover {
    font-weight: bold;
    background-color: #22a275;
    color: #387973;
    border-radius: 4px;
    cursor: pointer;
}
.add-border-right {
    border: 1px solid #22a275;
}
.estimated-rate-info {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.estimated-trade-info-wrapper {
    margin-bottom: 20px;
}
.estimated-trade-info-title {
    font-size: 14px;
    color: #387973;
    margin-bottom: 10px;
}
.estimated-trade-swap {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 65%;
    justify-content: space-between;
}
.estimated-tokens {
    font-size: 18px;
    color: #142e2b;
    font-weight: bold;
    margin-bottom: 0;
}
.trade-fee {
    display: flex;
    justify-content: space-between;
}

.trade-fee-title,
.trade-fee-value {
    color: #22a275;
    margin-bottom: 10px;
}
.start-trade {
    width: 100%;
    background-color: #05413c;
    color: #fff;
    border: 1px solid #05413c;
}
.warning {
    margin-top: 20px;
}
.warning-icon {
    color: rgb(255, 155, 155);
    font-size: 25px;
}
.login-required {
    color: rgb(255, 155, 155);
    margin-bottom: 2px;
}
.warning-info {
    color: rgb(255, 155, 155);
    font-size: 14px;
}
.warning-info a {
    color: rgb(255, 155, 155);
    text-decoration: rgb(255, 155, 155) !important;
}
.table {
    width: 100%;
}
.transaction-table {
    /* background-color: #05413c; */
    margin: 30px 50px;
    border: 1px solid #05413c;
    padding: 5px;
    color: #05413c;
}
.transaction-table-header h4 {
    color: #05413c;
    margin: 10px 0;
}
.table-head {
    background-color: #05413c;
    color: #fff;
}
.table-tab {
    /* border-bottom: 1px solid #22a275c5; */
    border-bottom: none !important;
}
.table-link {
    color: black;
}

.table-head-links {
    padding: 0;

    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.table-head-links:hover {
    border-color: #05413c;
}

.head-item {
    color: #fff !important;
}
.head-item,
.table-item {
    /* border-bottom: 1px solid #22a275c5 !important;
  border-top: 1px solid #22a275c5 !important; */
    color: #05413c;
    padding: 10px;
    vertical-align: middle !important;
    /* display: flex;
  align-items: center; */
}
.transaction-icon {
    border: 1px solid #142e2b;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: #05413c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-icon {
    font-size: 20px;
    color: #fff;
}
.table-item h4 {
    font-size: 15px;
    color: #05413c;
    font-weight: 900;
    margin: 0;
}
.table-item h6 {
    font-size: 20px;
    margin: 0;
    color: #22a275c5;
}
.table tr {
    border-bottom: 1px solid #05413c !important;
    border-top: 1px solid #05413c !important;
    padding: 0 10px;
}
.page-item {
    padding: 0;
}
.icon-head {
    width: 5%;
}
.date-head {
    width: 5%;
}
.transaction-head {
    width: 78%;
}
.market-head {
    width: 46%;
}
.amount-head {
    width: 12%;
}
.delete-head {
    width: 22%;
}
.pagination-btn {
    padding: 0;
}
.pagination-link {
    color: #fff !important;
    background: #05413c;
    border: 1px solid #05413cbd;
}
.pagination-link:hover,
.pagination-link.active {
    background-color: #e9ecef;
    color: #05413c !important;
}

.transaction-type {
    font-weight: 900;
    font-size: 15px;
}
.transaction-type-info {
    font-size: 13px;
    color: #05413c;
}

/* ============= Wallet ================== */
.wallet-wrapper {
    /* padding: 40px; */
    margin: 50px;
    border: 1px solid #05413c;
    background-color: #22a2750c;
    border-radius: 5px;
}
.wallet-header {
    border-bottom: 1px solid #05413c;
}
.wallet-title {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #05413c;
    font-weight: 900;
}
.wallet-desc {
    margin-bottom: 0;
    font-size: 16px;
    padding: 15px;
    color: #05413c;
}
.wallets-info-wrapper {
    padding: 5px 15px 0;
}
.wallet-card {
    border: 1px solid #05413c;
    border-radius: 5px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
.wallet-card:hover {
    transform: translate3d(0, -7px, 0);
    box-shadow: 0 10px 55px 5px rgba(137, 172, 255, 0.637);
}
.wallet-detail-card {
    /* border: 1px solid #22a275c5; */
    border-radius: 5px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
/* .wallet-detail-card:hover {
    transform: translate3d(0, -7px, 0);
    box-shadow: 0 10px 55px 5px rgba(137, 172, 255, 0.637);
} */
.wallet-card-content {
    width: 80%;
}
.wallet-card-icon {
    width: 20%;
}
.wallet-detail-card-icon {
    width: 100%;
    margin-bottom: 15px;
}
.wallet-card-icon img {
    width: 100%;
}
.token-name {
    color: #05413c;
    font-weight: 900;
}

.value-title {
    color: #05413c;
    text-transform: capitalize;
    margin-bottom: 2px;
}
.balance {
    margin-bottom: 12px;
}
.value {
    color: #05413c;
}
.wallet-detail-balance-card {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #22a2750c;
    box-shadow: 0 10px 55px 5px rgba(137, 172, 255, 0.274);
    border-radius: 10px;
}
.detail-value-title {
    text-transform: uppercase;
    font-weight: 600;
    color: #05413c;
    margin: 0 !important;
}
.detail-value {
    font-size: 52px;
    font-weight: 700;
    color: #05413c;
}
.detail-value-2 {
    font-size: 25px;
    font-weight: 700;
    color: #05413c;
}
.token-symbol {
    color: #05413c;
    font-size: 25px;
    font-weight: 600;
    margin: 0 !important;
}
.action-button {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.wallet-btns {
    padding: 6px 10px;
    margin: 0 8px 0 0;
    width: 120px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}
.wallet-btns-send {
    background-color: #e95d5d !important ;
}
.wallet-btns-send:hover {
    background-color: #a55757 !important ;
    color: #fff;
}
.wallet-btns-receive {
    background-color: #22a275 !important ;
}
.wallet-btns-receive:hover {
    background-color: #32a77e !important ;
    color: #fff;
}
.wallet-btns-swap {
    background-color: #697792 !important ;
}
.wallet-btns-swap:hover {
    background-color: #8d939e !important ;
    color: #fff;
}
.wallet-btns-buy {
    background-color: #3522a2 !important ;
}
.wallet-btns-buy:hover {
    background-color: #6e66a0 !important ;
    color: #fff;
}
.transaction-history-card {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    background-color: #22a2750c;
    box-shadow: 0 10px 55px 5px rgba(137, 172, 255, 0.274);
    border-radius: 10px;
}
.text-white-custom {
    color: #fff !important;
}
.text-white-custom:hover {
    color: #05413c !important;
    border: 1px solid #05413c;
    cursor: pointer;
}
.pagination-link.text-white-custom.active {
    background-color: #e9ecef;
    color: #05413c !important;
}
/* ================ FAQ ==================== */
.tribes-header {
    padding: 0;
    margin: 0;
    /* background-image: url('../../images/se-ad.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.tribes-header-wrapper {
    /* padding-top: 80px; */
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.65);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
@media only screen and (max-width: 468px) {
    .tribes-header {
        padding-top: 30px !important;
        text-align: center;
    }
}
.card {
    /*transition: box-shadow 0.25s linear;
    margin-right: 0 !important;
    margin-left: 0 !important;
     //padding: 20px !important;
    background-color: rgb(253, 253, 253);
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);*/
    text-align: center;
    transition: 0.1s all ease-out;
}
.card:hover {
    transform: scale(1.1);
    cursor: pointer;
    background: rgba(161, 149, 212, 0.034);
    border-radius: 10%;
}
.container-head {
    margin: auto;
}
.what-we-do-head {
    margin-top: 150px;
}
.this-title {
    margin: 50px auto 0;
    max-width: 700px;
    line-height: 1.18182;
    font-size: 44px;
    letter-spacing: -0.5px;
    color: #05413c;
}

.tribes-title {
    margin-top: 20px;
}
.tribes-title h1 {
    color: #fff;
    font-size: 80px;
    line-height: 1.1;
    margin: 0 auto 38px;
    max-width: 790px;
    letter-spacing: -0.5px;
}
.tribes-title p {
    font-size: 17px;
    color: #fff;
    letter-spacing: -0.5px;
}
.blueBtn {
    margin: 5px auto;
    background-color: #1a73e8;
    color: #fff;
}
.blueBtn:hover {
    color: #fff;
    background-color: #0c56b8;
}
@media (min-width: 1024px) {
    .blueBtn {
        font-size: 16px;
        letter-spacing: 0.5px;
        line-height: 0.9;
        padding: 17px 24px;
    }
}

.margin-class {
    margin-bottom: 15px;
}
.greenBtn {
    /*padding: .5rem 3rem;*/
    background-color: #05413c;
    color: #fff !important;
    font-weight: bold;
    font-family: main-font-bold !important;
    font-size: 12px;
    border-radius: 0.25rem;
}
.greenBtn:hover {
    background-color: #1eac38;
}

.see-more a {
    color: #0048b3;
    font-size: 24px;
    padding-bottom: 25px;
}
.see-more a:hover {
    color: #061833;
    text-decoration: underline;
}
.see-more:hover .see-more-fa {
    color: #061833;
    padding-left: 6px;
    margin-left: 2px;
}
.see-more-fa {
    color: #0048b3;
    font-size: 14px;
    padding-left: 3px;
    transition: 0.1s all ease-out;
}
.start {
    background: #05413c;
    padding: 80px 20px;
    margin-bottom: -100px;
}
.start h2,
.start p {
    color: #fff !important;
}
.why-wrapper {
    padding: 0px 20px;
}
.why-icon {
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 1px 9px rgba(0, 0, 0, 0.13);
    margin-bottom: 25px;
    width: 100px;
    height: 100px !important;
}
.why-desc {
    font-size: 16px;
    padding: 5px 0px 0px;
}
.di {
    margin: 100px auto 30px;
    width: 50%;
    background-color: #d3d3d3;
    text-align: center;
}
.faq-desc-title {
    font-size: 1.625rem;
}
.faq-tabs ul.faq-tabs-btns {
    width: 50%;
    float: left;
    margin: 0 auto;
    list-style: none;
    padding: 0 15px;
}
.faq-tabs ul.faq-tabs-btns li {
    background-color: #f2f2f2;
    display: block;
    line-height: 50px;
    position: relative;
    margin-bottom: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.faq-tabs ul.faq-tabs-btns li a {
    display: block;
    font-size: 19px;
    font-weight: 600;
    padding-left: 15px;
    position: relative;
    text-decoration: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-border: 1px solid #05413c;
    -moz-border: 1px solid #05413c;
    -o-border: 1px solid #05413c;
    border: 1px solid #05413c;
    color: #05413c;
}
.faq-tabs ul.faq-tabs-btns li a:active,
.faq-tabs ul.faq-tabs-btns li a:focus,
.faq-tabs ul.faq-tabs-btns li a:hover {
    background-color: #05413c !important;
    color: #fff !important;
}
.faq-tabs .col-md-6 {
    overflow: hidden;
}
@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.faq-border {
    overflow: hidden;
    margin-bottom: 30px;
    padding: 15px 20px 0;
    background-color: #f2f2f2;
    min-height: 380px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-border: 1px solid #05413c;
    -moz-border: 1px solid #05413c;
    -o-border: 1px solid #05413c;
    border: 1px solid #05413c;
}
.content-desc h3 {
    font-size: 20px;
}
.hide-this {
    display: none;
}
.deposit-address-btn {
    background-color: #05413c !important;
    color: #fff !important;
}
.choose-token {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ==================================== */

.dropdown-menu.show {
    display: block;
}

input.tradeValueUsd {
    background-color: #cdcdcd !important;
}
.copy-class {
    background: #05413c !important;
    color: #fff !important;
    border-radius: 8px;
}
.remove-copy-class {
    background: transparent;
    color: #05413c;
}

.tokenSelect .tokenIcon {
    width: 25px;
}
.market-maker-landing-wrapper {
    position: relative;
    display: block;
    margin: 0 100px 20px;
    box-shadow: 2px 28px 41px -11px rgba(0, 0, 0, 0.34);
}
.market-maker-landing-wrapper > svg {
    display: block;
    opacity: 0.99;
    transform-origin: bottom;
    animation: animateWave 2000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
.market-maker-landing-wrapper-content {
    padding: 40px;
    padding-bottom: 0;
}
.market-maker-logo {
    width: 250px;
    margin: 30px auto;
}
.market-maker-header-text {
    color: #142e2b;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.header-desc {
    font-size: 18px;
    color: #142e2b;
    line-height: 1.5em;
    margin-bottom: 18px;
}
.get-started-btn {
    width: max-content;
    margin: auto;
    border-radius: 8px;
    border: 1px solid #05413c;
    display: block;
    font-size: 20px;
    color: #fff !important;
    background: #05413c;
    padding: 8px 15px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
}
.get-started-btn:hover {
    color: #05413c !important;
    cursor: pointer;
    background: #9cbcb92f;
    border: 1px solid #05413c;
}
.flex-register {
    display: flex;
    flex-direction: column;
}
.register-market-maker-wrapper {
    display: block;
    padding: 40px 80px;
    margin: 0 200px 20px;
    box-shadow: 2px 28px 41px -11px rgba(0, 0, 0, 0.34);
}
.register-market-maker-header h2 {
    color: #142e2b;
    margin-bottom: 0 !important;
    text-transform: uppercase;
}
.divider {
    background-color: #05413c;
    border: 2px solid #05413c;
}
.register-market-maker-body .form-group label {
    color: #05413c;
    font-size: 18px;
    font-weight: 600;
}

.back-btn {
    background-color: #9cbcb92f;
    color: #05413c;
    border: 1px solid #05413c;
    border-radius: 8px;
    width: max-content;
    padding: 6px 15px;
    margin-top: 4px;
    font-weight: 500;
    margin-left: 50px;
    display: block;
}

/* =================== Market Maker Dashboard ============= */
.market-maker-dashboard-card {
    display: block;
    padding: 40px 50px;
    /* margin: 0 200px 20px; */
    box-shadow: 2px 28px 41px -11px rgba(0, 0, 0, 0.34);
}
.account-status-card {
    padding: 45px 20px;
    background-color: #22a2750c;
    box-shadow: 0 10px 55px 5px rgba(137, 172, 255, 0.274);
    border-radius: 10px;
}
.market-maker-history-card {
    padding: 45px 20px;
    background-color: #22a2750c;
    box-shadow: 0 10px 55px 5px rgba(137, 172, 255, 0.274);
    border-radius: 10px;
}
.dashboard-status-wrapper {
    margin-top: 20px;
    border-top: 1px solid #05413c;
    padding: 15px 10px;
}
.dashboard-status-title-text {
    margin-bottom: 6px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #05413c;
}

.dashboard-status {
    font-size: 11px;
    text-transform: capitalize;
    color: #05413c;
}
.dashboard-actions {
    position: relative;
    display: flex;
    min-height: 85px;
}
.icon-and-text {
    text-align: center;
    padding-top: 10px;
}
.icon-and-text h2 {
    margin-bottom: 0 !important;
    /* padding-top: 10px; */
}
.dashboard-actions-content .icon-and-text h2 {
    font-size: 14px;
    align-self: flex-end;
    text-align: center;
    margin-top: 8px;
}
.dashboard-actions-content {
    position: relative;
    display: grid !important;
    grid-template-columns: 2fr auto 3fr !important;
    border-bottom: 1px dashed #05413c69 !important;
}
.dashboard-action-main-card:last-child() {
    border-bottom: none !important;
    padding-top: 8px;
}
.dashboard-actions-content .icon-and-text i {
    text-align: center;
    align-self: center;
    font-size: 40px;
}
.dashboard-actions-content .icon-and-text img {
    text-align: center;
    align-self: center;
    font-size: 40px;
}

.dashboard-actions .custom-switch {
    border-bottom: 1px solid #05413c;
    color: #05413c;
    padding: 15px 0px;
}

.dashboard-action-main-card {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
#switch {
    top: 20% !important;
}
.advanced-settings {
    padding-top: 25px;
}
.advanced-settings a {
    color: #05413c !important;
    text-decoration: underline;
    font-weight: bold;
}
.font-28 {
    font-size: 22px !important;
}
.margin-15 {
    margin: 15px !important;
}
.align-self-center {
    align-self: center;
    margin: auto;
}
.markets-header {
    font-size: 22px !important;
}
.market-list-symbol {
    align-self: center;
    font-weight: 500;
}
.view-market-btn,
.view-swap-details-btn {
    color: #05413c;
    font-weight: 500;
    align-self: center;
    margin-left: auto;
    text-decoration: underline;
    line-height: 5px;
}
.upgrade-btn {
    margin-left: auto;
    align-self: center;
    border: 1px solid #05413c;
    color: #05413c;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
.upgrade-btn:hover {
    background-color: #05413c;
    color: #fff !important;
}
.delete-btn {
    border-radius: 50%;
    margin-left: auto;
    padding: 3px 4px;
    align-self: center;
    border: 1px solid #b31010;
    color: #b31010;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}
.delete-btn:hover {
    background-color: #b31010;
    color: #fff;
}
.delete-btn:hover .delete-icon {
    color: #fff;
}
.delete-icon {
    color: #b31010;
}
.times {
    border: 1px solid #b31010;
    background: #b31010;
}
.toggle-container {
    margin-left: auto;
    margin-right: 75px;
}
/* =================== Animation =================== */
@keyframes animateWave {
    0% {
        transform: scale(1, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

/*  ============= Toggler ================ */
#switch {
    width: 75px;
    height: 40px;
}

.toggle {
    position: absolute;
    border: 2px solid #05413c;
    border-radius: 20px;
    -webkit-transition: border-color 0.6s ease-out;
    transition: border-color 0.6s ease-out;
    box-sizing: border-box;
}

.toggle.toggle-on {
    border-color: #05413c; /** to take notice **/
    -webkit-transition: all 0.5s 0.15s ease-out;
    transition: all 0.5s 0.15s ease-out;
}

.toggle-button {
    position: absolute;
    top: 4px;
    width: 28px;
    bottom: 4px;
    right: 39px;
    background-color: #05413c;
    border-radius: 19px;
    cursor: pointer;
    -webkit-transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
    transition: all 0.3s 0.1s, width 0.1s, top 0.1s, bottom 0.1s;
}

.toggle-on .toggle-button {
    top: 3px;
    width: 65px;
    bottom: 3px;
    right: 3px;
    border-radius: 23px;
    background-color: #05413c;
    box-shadow: 0 0 16px #22a275;
    -webkit-transition: all 0.2s 0.1s, right 0.1s;
    transition: all 0.2s 0.1s, right 0.1s;
}

.toggle-text-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 36px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    color: rgba(0, 0, 0, 0);
}

.toggle-on .toggle-text-on {
    color: #fff;
    -webkit-transition: color 0.3s 0.15s;
    transition: color 0.3s 0.15s;
}

.toggle-text-off {
    position: absolute;
    top: 0;
    bottom: 0;
    /* right: 6px; */
    line-height: 36px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    color: #05413c;
    font-weight: bold;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    cursor: pointer;

    color: #05413c;
}

.toggle-on .toggle-text-off {
    color: rgba(0, 0, 0, 0);
}

/* used for streak effect */
.glow-comp {
    position: absolute;
    opacity: 0;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    border-radius: 6px;
    background-color: rgba(75, 122, 141, 0.1);
    box-shadow: 0 0 12px rgba(75, 122, 141, 0.2);
    -webkit-transition: opacity 4.5s 1s;
    transition: opacity 4.5s 1s;
}

.toggle-on .glow-comp {
    opacity: 1;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}
.market-symbol-link {
    color: #05413c;
}
.config-market-actions {
    margin-bottom: 0 !important;
    padding: 20px 30px;
}
.config-market-actions .wallet-btns {
    padding: 5px 8px;
}

/* Mobile Stuffs */
.footer-nav-wrapper {
    background: #f4f4f4;
    color: #05413c;
    padding: 0;
    font-size: 14px;
    margin-top: 10px;
    flex-shrink: 0;
}
.footer-nav-sm {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.footer-nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.footer-nav-item a {
    color: #05413c;
    font-size: 11px;
}
.swap-screen.swap-screen-mobile {
    /* position: fixed; */
    width: 100%;
    z-index: 999;
}

.activateIt {
    background-color: #05413c !important;
    color: #fff;
}
.dashboardActive {
    background-color: #05413c !important;
    color: #fff;
}
/* Ipad && Ipad Pro */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .ipad-padding {
        padding: 60px!important;
    }
    .ipad-none {
        display: none!important;
    }
    .ipad-block {
        display: block!important;
    }
    .register-market-maker-wrapper {
        margin: 20px 100px!important;
    }
    a.back-btn {
        margin-left: 100px!important;
    }
    .market-maker-dashboard-card {
        padding: 40px!important;
    }
    .dashboard-action-main-card {
        padding: 40px!important;
    }
    .toggle-container {
        margin-right: 0!important;
    }
    .icon-and-text {
        text-align: left!important;
    }
    .icon-and-text h2 {
        text-align: left!important;
    }
}
@media (max-width: 700px) {
    .dswap-nav {
        position: fixed;
        padding: 8px;
        width: 100%;
    }
    .dswap-nav .logo {
        width: 40px;
    }
    .dswap-nav-links {
        margin-left: 4px;
    }
    .small-wrap span {
        font-size: 12px;
    }
    .small-wrap i {
        font-size: 11px !important;
    }
    .nav-username {
        border: none !important;
        width: 70px;
    }
    .nav-username:hover,
    .nav-username:focus,
    .nav-username:active,
    .nav-username:visited {
        background-color: transparent !important;
        color: #05413c !important;
    }

    .action-title {
        text-align: center;
    }
    .action-title.buy {
        margin-top: 40px !important;
    }
    .action-title.sell {
        color: red;
    }
    .chart {
        display: none;
    }
    .estimate-wrapper {
        text-align: center;
        padding: 14px;
    }
    .estimated-trade-swap {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
    }
    .start-trade {
        margin-bottom: 46px;
    }

    /* Wallet */
    .wallet-wrapper {
        margin: 68px 0;
        border-radius: 0;
        border-top: none;
        border-bottom: none;
    }
    /* Trades */
    .transaction-table-mobile {
        margin: 68px 0;
        width: 100%;
        font-size: 12px;
    }
    .icon-head {
        width: 3%;
    }

    .date-head {
        width: 5%;
    }
    .transaction-head {
        width: 80%;
    }
    .market-head {
        width: 56%;
    }
    .amount-head {
        width: 12%;
    }
    .table-icon {
        font-size: 14px;
    }
    .transaction-type-info {
        display: none;
    }
    .numbering {
        display: block;
    }
    /* Market Maker Landing */
    .market-maker-landing-wrapper-content {
        padding-top: 0;
    }
    .market-maker-landing-wrapper {
        margin: 68px 0;
    }
    .market-maker-logo {
        width: 120px;
        margin-top: 20px;
    }
    .market-maker-header-text {
        font-size: 32px;
    }
    .register-market-maker-wrapper {
        margin: 0;
        padding: 20px;
    }
    .register-market-maker-header {
        font-size: 28px;
    }
    .confirm-register-button {
        margin-bottom: 55px;
    }
    .mob-margin {
        margin: 48px 0 !important;
    }
    .wallet-title {
        text-align: left !important;
    }
    .wallet-btns {
        font-size: 12px;
        padding: 8px;
        text-align: center;
        margin: 0;
        width: max-content;
    }
    .wallet-detail-balance-card {
        flex-direction: column;
    }
    .action-button {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 0px;
        place-items: center center;
    }
    .head-item {
        font-size: 12px;
    }
    .pagination-link.text-white-custom {
        font-size: 11px;
    }
    nav.text-right.ml-auto {
        margin: auto;
        text-align: center;
    }
    .detail-value,
    .detail-value-2 {
        font-size: 25px;
    }
    .dashboard-status-wrapper {
        margin-top: 0 !important;
    }
    .toggle-container {
        margin-right: 0;
        margin-left: auto;
        place-items: center;
    }
    .dashboard-actions-content .icon-and-text i,
    .dashboard-actions-content .icon-and-text img {
        font-size: 30px;
    }
    .dashboard-actions-content-header {
        border-bottom: 1px dashed rgba(5, 65, 60, 0.41176) !important;
        text-align: center;
    }
    .markets-header-m {
        text-align: center;
        font-size: 22px !important;
        margin-bottom: 20px;
    }
    .dashboard-action-main-card {
        margin-top: 20px;
    }
    .status-icon {
        width: 25px!important;
        height: 25px!important;
        margin: auto!important;
    }
    .actions a {
        font-size: 11px!important;
    }
    .market-maker-dashboard-card {
        box-shadow: 2px 28px 41px -11px rgba(0, 0, 0, 0.13)
    }
}

.toggleAccountStatus {
    cursor: pointer;
}


.supportIcon {
    color: #05413c !important;
    width: 90px;
    height: 90px;
    padding: 20px 20px 0px 20px;
}

.item-wrapper-discord {
    margin-top: 200px;
}

/* Pricing Style */
.pricing-table-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.6em;
    color: #FFF;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 25px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table-title a {
    font-size: 0.6em;
}

.clearfix:after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    clear: both;
}
/** ========================
 * Contenedor
 ============================*/
.pricing-wrapper {
    width: 960px;
    margin: 40px auto 0;
}

.pricing-table {
    margin: 0 10px;
    text-align: center;
    width: 100%;
   
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.pricing-table:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    transform: scale(1.06);
}

.pricing-title {
    color: #FFF!important;
    background: #05413c;
    padding: 20px 0;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table.recommended .pricing-title {
    background: #2db3cb;
}

.pricing-table.recommended .pricing-action {
    background: #2db3cb;
}

.pricing-table .price {
    background: #403e3d;
    font-size: 3.4em;
    font-weight: 700;
    padding: 20px 0;
    color: rgb(192, 192, 192);
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
}

.pricing-table .price sup {
    font-size: 0.4em;
    position: relative;
    left: 5px;
    color: rgb(158, 157, 157);
}


.table-list {
    background: #FFF;
    color: #403d3a;
    list-style: none;
    padding: 0;
}

.table-list li {
    font-size: 1.4em;
    font-weight: 700;
    padding: 12px 8px;
}

/* .table-list li:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #3fab91;
    display: inline-block;
    position: relative;
    right: 5px;
    font-size: 16px;
}  */

.table-list li span {
    font-weight: 400;
}

.table-list li span.unlimited {
    color: #FFF;
    background: #05413c;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
}


.table-list li:nth-child(2n) {
    background: #F0F0F0;
}
.checkortimes {
    margin-right: 4px;
}
.table-buy {
    background: #FFF;
    padding: 15px;
    text-align: left;
    overflow: hidden;
}

.table-buy p {
    float: left;
    color: #37353a;
    font-weight: 700;
    font-size: 2.4em;
}

.table-buy p sup {
    font-size: 0.5em;
    position: relative;
    left: 5px;
}

.table-buy .pricing-action {
    float: right;
    color: #FFF;
    background: #05413c;
    padding: 10px 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-weight: 700;
    font-size: 1.4em;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.table-buy .pricing-action:hover {
    background: #cf4f3e;
}

.recommended .table-buy .pricing-action:hover {
    background: #228799;    
}

/** ================
 * Responsive
 ===================*/
 @media only screen and (min-width: 768px) and (max-width: 959px) {
    .pricing-wrapper {
        width: 768px;
    }

    .pricing-table {
        width: 236px;
    }
    
    .table-list li {
        font-size: 1.3em;
    }

 }

 @media only screen and (max-width: 767px) {
    .pricing-wrapper {
        width: 420px;
    }

    .pricing-table {
        display: block;
        float: none;
        margin: 0 0 20px 0;
        width: 100%;
    }
 }

@media only screen and (max-width: 479px) {
    .pricing-wrapper {
        width: 300px;
    }
}

.swapSetting {
    margin: 15px auto 5px;
    width: 90%;
    display: flex;
}

.view-swap-details-btn {
    padding: 0;
    font-size: 12px;
}

.swapDetailsAccordion .card {
    text-align: left;
    transition: none;
}

    .swapDetailsAccordion .card:hover {
        transform: none;
        cursor: pointer;
        border-radius: unset;
    }

.tbDepositAddress {
    width: 400px;
}

.dcaInput {
    width: 50%;
    border: none;
    text-align: center !important;
}

.dcaInput::placeholder {
    text-align: center; 
 }

 .dcaInputLastElement {
    padding-bottom: 10px;
 }

 .dcaDetailsBlock {
    min-height: 130px;
 }

 .dcaWrapper .card {
    transition: none;
    transform: none;
    border-radius: .25rem;
 }

 .top10 {
    margin-top: 10px;
 }

 .top20 {
    margin-top: 20px;
 }

 .dcaDetailsBlock .dcaInput {
    border: 1px solid #22a275;
 }

 .dca-item-link,
 .dca-swap-details-link {
    color: #05413c !important;
 }

 .dca-swap-details-link {
    text-decoration: underline;
 }

 .dca-item-link.active {
    color: #fff !important;
    background-color: #05413c !important;
 }

 .dca-trade-button {
    color: #05413c !important;
    text-align: left;
    width: 100%;
    padding: 5px !important;
 }

 .dca-trade-h2 {
    text-align: left;
 }

 .dca-order-item-firstp {
    margin-bottom: 0px;
 }

 .dca-order-item-line hr {
    margin: 0px 0px 5px 0px;
 }

 .dcaWrapper img, video {
    max-width: 100%;
    height: auto;
}

.dcaWrapper .w-6 {
    width: 1.5rem;
}

.dcaArrowDown {
    /*margin-left: -20px;*/
    margin-top: 5px;
}

.dcaOverviewPanel {
    margin-bottom: 50px;
}

.noDcaActive {
    padding: 10px 0px;
}

.nav-item-refresh {
    position: absolute;
    right: 15px;
    top: 0;
}

.dcaRow p,
.dcaRow label {
    font-size: 14px !important;
}

.dcaRow {
    padding: 5px !important;
}

.dcaIndex {
    /*margin-left: -20px;*/
}

.dcaIndexRow div {
    padding: 5px !important;
}

.dcaIndexRow div.dcaIndexCol {
    margin-left: 0px;
    padding-left: 15px !important;
}
.nextOrderIn {
    color: #05413c;
    font-weight: bold;
    text-decoration: underline;
}
